@using WeddingFrontend.Models

<div class="entree-card @(!Enabled ? "entree-disabled" : "")">
    <p class="entree-guest-name">- Select An Entree For -</p>
    <p class="entree-guest-name">@Guest.Name</p>

    @if (!Guest.IsChild)
    {
        <div class="entree-options">
            @foreach (var option in Entrees)
            {
                <div class="entree-option @(SelectedEntree == option.Name ? "selected" : "") @(justSelectedEntree == option.Name ? "entree-just-selected-active" : "") @(!Enabled ? "entree-option-disabled" : "")"
                @onclick="() => { if (Enabled) SelectEntree(option.Name); }">
                    <div class="entree-image-wrap">
                        <img class="entree-image" src="images/@(option.Name.ToLower()).jpg" alt="@option" />
                    </div>
                    <p class="entree-label">@option.Name</p>
                    <p class="entree-label"><i>@option.Description</i></p>
                </div>
            }
        </div>
    }
    else {
        <div class="entree-options">
            @foreach (var option in ChildEntrees)
            {
                <div class="entree-option @(SelectedEntree == option.Name ? "selected" : "") @(justSelectedEntree == option.Name ? "entree-just-selected-active" : "") @(!Enabled ? "entree-option-disabled" : "")"
                     @onclick="() => { if (Enabled) SelectEntree(option.Name); }">
                    <div class="entree-image-wrap">
                        <img class="entree-image" src="images/@(option.Name.ToLower()).jpg" alt="@option" />
                    </div>
                    <p class="entree-label">@option.Name</p>
                    <p class="entree-label"><i>@option.Description</i></p>
                </div>
            }
        </div>
    }
</div>
<div class="entree-card @(!Enabled ? "entree-disabled" : "") desert-margin">
        <p class="entree-guest-name">- Select A Desert For -</p>
        <p class="entree-guest-name">@Guest.Name</p>
        <div class="entree-options">
            @foreach (var option in Deserts)
            {
                <div class="entree-option @(SelectedDesert == option.Name ? "selected" : "") @(justSelectedDesert == option.Name ? "entree-just-selected-active" : "") @(!Enabled ? "entree-option-disabled" : "")"
                     @onclick="() => { if (Enabled) SelectDesert(option.Name); }">
                    <div class="entree-image-wrap">
                        <img class="entree-image" src="images/@(option.Name.ToLower()).jpg" alt="@option" />
                    </div>
                    <p class="entree-label">@option.Name</p>
                    <p class="entree-label"><i>@option.Description</i></p>
                </div>
            }
        </div>
    

    @if (!string.IsNullOrEmpty(SelectedEntree) && !string.IsNullOrEmpty(SelectedDesert) && Enabled)
    {
        <div class="submit-wrap">
            <button class="submit-btn" @onclick="Submit">Confirm @Guest.Name's Meal</button>
        </div>
    }

    @if (showSaved)
    {
        <p class="entree-saved-label">✓ Saved</p>
    }
</div>


@code {
    [Parameter] public Guest Guest { get; set; } = new();
    [Parameter] public EventCallback<(Guest, string, string)> OnEntreeSelected { get; set; }
    [Parameter] public bool Enabled { get; set; }

    private string SelectedEntree { get; set; } = string.Empty;
    private string SelectedDesert { get; set; } = string.Empty;
    private string? justSelectedEntree = null;
    private string? justSelectedDesert = null;
    private List<Entree> Entrees = new List<Entree>();
    private List<Entree> ChildEntrees = new List<Entree>();
    private List<Entree> Deserts = new List<Entree>();
    private bool showSaved = false;

    public record Entree(string Name, string Description);

    protected override void OnInitialized()
    {
        Entrees = new List<Entree>()
        {
            new("Steak", "8 oz. Peppercorn Encrusted Filet served with Au Gratin Potatoes & Sautéed Mushrooms."),
            new("Salmon", "Pan-Seared Salmon Served with Dijon Aioli or Sun-Dried Tomato Compote, Mashed Potatoes & Grilled Asparagus"),
            new("Pasta", "Linguine Pasta Tossed with Green Peas and Argentine Reggianito Cheese in a Roasted Garlic Cream Sauce, topped with Crispy Pancetta."),
        };

        ChildEntrees = new List<Entree>()
        {
            new("Chicken Tenders", "Broaster Chicken Tenders served with Fries"),
        };

        Deserts = new List<Entree>()
        {
            new("Torta De Banana", "Banana Cake Layered with Whipped Cream Cheese Frosting Served with Creme Anglaise & Our Home-Made Raspberry Sauce"),
            new("Torte De Chocolate", "Dark Chocolate Mousse Cake with Cream Anglaise & Argentinean Dulce de Leche" )
        };

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Guest.Entree))
            SelectedEntree = Guest.Entree;

        if (!string.IsNullOrEmpty(Guest.Desert))
            SelectedDesert = Guest.Desert;
    }

    private void SelectEntree(string entree)
    {
        if (!Enabled) return;
        SelectedEntree = entree;
        justSelectedEntree = entree;
    }

    private void SelectDesert(string desert)
    {
        if (!Enabled) return;
        SelectedDesert = desert;
        justSelectedDesert = desert;
    }

    private async Task Submit()
    {
        if (string.IsNullOrEmpty(SelectedEntree)) return;
        showSaved = true;
        justSelectedEntree = null;
        justSelectedDesert = null;
        await OnEntreeSelected.InvokeAsync((Guest, SelectedEntree, SelectedDesert));
        SelectedEntree = string.Empty;
        SelectedDesert = string.Empty;

        await Task.Delay(2000);
        showSaved = false;
        StateHasChanged();
    }
}